h1{
    font-family: 'Oswald', sans-serif;
    font-size: 45px;
}
h3{
    font-family: 'Oswald', sans-serif;
}
mat-form-field{
    display: block;
    margin-top: .7rem;
}
.example-full-width {
    width: 100%;
}
.stilo-boton{
    background-color: #793955;
    color:white;
}
.contenedor{
    margin-top: 1rem;
    font-family: 'Oswald', sans-serif;
}
.contenedor a{
    text-decoration: none;
    color:black;
}