<h1>Acceder</h1>
<h3>Registro</h3>
<h3>Para Competencias</h3>
    <form action="">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Usuario">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input matInput type="password" placeholder="Contraseña">
        </mat-form-field>
        <button mat-raised-button class="stilo-boton">Ingresar</button>
    </form>
    <div class="contenedor">
        <a href="#">Registrar</a>
    </div>
